@import "./portfolio-scss/variable";
@import "./portfolio-scss/fonts.scss";
/*global scss*/
@import "./portfolio-scss/global.scss";
/*polaroid-nav*/
@import "./portfolio-scss/polaroid-nav.scss";
/*home page scss*/
@import "./portfolio-scss/index-home.scss";
/*all other pages default scss*/
@import "./portfolio-scss/pages-header.scss";
@import "./portfolio-scss/pages-main.scss";
@import "./portfolio-scss/footer.scss";
/*blog scss*/
@import "./portfolio-scss/blog-post-page.scss";















