@import "./portfolio-scss/fonts.scss";
@import "./portfolio-scss/index-nav.scss";
@import "./portfolio-scss/hamburger.scss";
@import "./portfolio-scss/index.scss";
@import "./portfolio-scss/about.scss";
@import "./portfolio-scss/footer.scss";

html{
    min-height: 100%;
}
body{
    background-color: #fff;
    font-family: Lekton;
    font-weight: 400;
    margin: 0;
    padding: 0;
} 
h1{
    margin: 0;
    color: #f63309;
    font-family: 'Londrina Outline';
    font-weight: 400;
}
h2{
    margin:0;
    color: #ff9fa0;
    font-family: 'Palanquin';
    font-weight: 400;
}
main{ 
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-me{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}









