@import "./portfolio-scss/variable";
@import "./portfolio-scss/fonts.scss";
@import "./portfolio-scss/index-nav.scss";
@import "./portfolio-scss/hamburger.scss";
@import "./portfolio-scss/index.scss";
@import "./portfolio-scss/pages.scss";
@import "./portfolio-scss/footer.scss";
@import "./portfolio-scss/global.scss";
@import "./portfolio-scss/work.scss";
@import "./portfolio-scss/blog.scss";
@import "./portfolio-scss/blog-post.scss";














