/*fonts*/
@font-face {
    font-family: 'Lekton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lekton/v11/SZc43FDmLaWmWpBuWB3p.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lekton';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lekton/v11/SZc73FDmLaWmWpBm4zj8kmLW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/palanquin/v6/9XUhlJ90n1fBFg7ceXwUEmtP5LQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/palanquin/v6/9XUilJ90n1fBFg7ceXwU2nlYw5Gr.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/palanquin/v6/9XUnlJ90n1fBFg7ceXwccVtN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/palanquin/v6/9XUilJ90n1fBFg7ceXwUgnhYw5Gr.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Londrina Outline';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/londrinaoutline/v11/C8c44dM8vmb14dfsZxhetg3pDH-STu07rA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/londrinasolid/v10/flUjRq6sw40kQEJxWNgkLuudGfs9GBEUsA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/londrinasolid/v10/flUiRq6sw40kQEJxWNgkLuudGfv1CgYzlZw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/londrinasolid/v10/flUhRq6sw40kQEJxWNgkLuudGfNeKBM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
    background-color: #e9eaef;
    font-family: Lekton;
    font-weight: 400;
    margin: 5px 0;
    padding: 0;
} 
.index-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
/*index body styling*/

main.kim-title{
    order: -1;
    margin: 0;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
}
.kim-title h3{
    margin: auto;
    position: relative;
    top: 2%;
    font-weight: 400;
    font-size: clamp(1.25rem,0.7rem + 2.75vw, 4rem);
    color: #e9eaef;
    left: 20%;
    text-shadow: 1px 0px 0px rgba(128, 0, 0, 0.09),0px 1px 1px rgba(177, 177, 181, 0.79),-0.5px -0.5px 1px rgba(249, 249, 255, 1);
    /*text-shadow: 1px 0px 0px rgba(128, 0, 0, 0.09),0px 1px 2px rgba(177, 177, 181, 0.6),-1px -1px 1px rgba(249, 249, 255, 1);*/
    /*text-shadow: 1px 1px 0px rgba(128, 0, 0, 0.09),-1px 1px 2px rgba(177, 177, 181, 0.6),1px -2px 3px rgba(249, 249, 255, 0.89);*/
    /*text-shadow: -1px 2px 8px rgba(128, 0, 0, 0.21),-1px 1px 1px rgba(177, 177, 181, 0.29);*/
} 
.name{ 
    display: flex;
    margin: 0;
    justify-content: center;
    justify-items: center;
}

.kim{
    color: #FFA899;
    font-family: 'Palanquin';
    font-weight: 400;
    font-size: clamp(3.63rem, 1.772rem + 9.29vw, 12.92rem);
    position: relative;
    left: clamp(1.63rem, 0.796rem + 4.17vw, 5.8rem);
    z-index: 1;
    line-height: 1.51;
}
.mckenna{
    color: #ED4C4C;
    font-family: 'Londrina Outline';
    font-weight: 400;
    font-size: clamp(4.31rem, 2.078rem + 11.6vw, 15.47rem);
    letter-spacing: 0.02em;
    position: relative;
    right: clamp(1.63rem, 0.796rem + 4.17vw, 5.8rem);
}
ul.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.list-container{
    width: 21.4%;
    height: 0;
}
.polaroid-wrapper{
    width: 100%;
    margin: 0 auto;
}
.polaroid-outside{
    background-color: white;
    position: absolute;
    border-radius: 3%;
    width: 150px;
    height: 239px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(146, 143, 155, 0.15) 0px 48px 100px 0px;
}
.about-me-polaroid{
    z-index: 4;
    top: 25%;
    transform: rotate(-10deg);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}
.profess-details-polaroid{
    z-index: 3;
    top: 35%; 
    transform: rotate(-5deg);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}
.blog-polaroid{
    z-index: 2;
    top: 45%;
    transform: rotate(10deg);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}
.contact-polaroid{
    z-index: 1;
    top: 55%;
    transform: rotate(2deg);
    box-shadow: rgba(206, 207, 207, 0.226) 0px 1px 2px 0px, rgba(108, 109, 110, 0.15) 0px 2px 6px 2px;
}
.polaroid-inside{
    background-color: #F5E4E4;
    width: 85.57%;
    height: 71.14%;
    margin: 0% auto;
    position: relative;
    top: 8.64%;
    box-shadow: rgba(36, 36, 36, 0.068) 0px 3px 5px;
    box-shadow: rgba(201, 201, 206, 0.25) 0px 30px 60px -12px inset, rgba(248, 116, 116, 0.253) 0px 18px 36px -18px inset;
}
.nav-name{ 
    position: absolute;
    max-width: 360px;
    margin: 16.5% 0% 0% 7.2%;
    font-size: clamp(1.125rem, 0.8364rem + 1.443vw, 2.568rem);
}

a:visited{
    color:#AB6254
}

@media (min-width: 700px){
    .polaroid-outside{
        width: 100%;
        height: 100%;
    }
    .polaroid-wrapper{
        width: 100%;
        padding-bottom: 159%; 
        position: relative; 
        margin: 0 auto;
    }
}
@media (min-width: 1920px){
    .polaroid-outside{
        width: 410.875px;
        height: 653.281px;
    }
}






