/*colors*/
$h1-color: #f63309;
$h2-color: #ff9fa0;
$neutral-color: #eceaed;
$light-color: #fbf5f7;
$accent-color-light: #ffe5ad;
$accent-color-dark: #a48580;
$primary-color-1: #fce7e6;
$primary-color-2: #ffc2a5;