
.blog-polaroid-inside{
    background-color: #fce7e6;
    width: 85.57%;
    height: 71.14%;
    box-shadow: rgba(155, 153, 153, 0.068) 0px 3px 5px, rgba(201, 201, 206, 0.25) 0px 30px 60px -12px inset, rgba(248, 116, 116, 0.253) 0px 18px 36px -18px inset;
    img{
        max-width: 100%;
        overflow: hidden;
    }
}