footer{
    width: 100%;
    position: fixed;
    bottom:  0;
    z-index: 4;

    .social-icons{
        position: relative;
        max-height: 100px;
        max-width: 1920px;       
        display: flex;
        justify-content: flex-end;
        padding: 10px;

        a{
            width: 8%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            margin: 0 10px;
        }

        img{
            max-width: 100%;
            max-height: 90px;
            background-color: $neutral-color;
            border-radius: 50%;
        }
    }
}

.footer-color{
    background-color: $light-color;

}