html{
    min-height: 100%;
}
body{
    background-color: #fff;
    font-family: Lekton;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
} 
h1{
    margin: 0;
    color: $h1-color;
    font-family: 'Londrina Outline';
    font-weight: 400;
}
h2{
    margin:0;
    color: $h2-color;
    font-family: 'Palanquin';
    font-weight: 400;
}
main{ 
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
.info-me{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-title{
    font-size: clamp(4.31rem, 2.078rem + 11.6vw, 15.47rem);
    letter-spacing: 0.02em; 
}

.page-header{
    position: relative;
    z-index: 1;
}

@media (min-width: 769px){
    body{
        font-size: 18px;
    }
}