
/*hamburger code*/
#menu-wrapper{
    position: absolute;
    top: 1vh;
    right: 4vw;
    //width: 100%;
    width: 10vw;
    height: 10vh;
    max-width: 200px;
    max-height: 300px;
    box-sizing: border-box;
    .toggle{
        width: 60%;
        max-width: 100px;
        height: 100%;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 999;
        cursor: pointer;
        opacity: 0;
    }
    .polaroid-wrapper{
       // max-width: 75%;
       // max-height: 90px;
        position: absolute;
        left: 0;
        top: 0;

        z-index: 998;

//        display: flex;
//        justify-content: center;
//        align-items: center;

//        box-sizing: border-box;
//        padding: 10px;
        
        .hamburger-polaroid{
            transform: rotate(-15deg);
            width: 100%;
            top: 0;
            transition: all 0.3s ease;

        }
    }
    .toggle:hover + .polaroid-wrapper{
        //width: 10vh;
        transform: rotate(15deg);
        transition: all 0.3s ease;
        .hamburger-polaroid{
            width: 120%;
        }
    }
    .toggle:checked + .polaroid-wrapper{
        transform: rotate(30deg);
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;

        opacity: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        background: rgba(248, 242, 240, 0.95);
        z-index: 1;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        ul {
            position: relative;
            top: 20%;
            li{
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 20px;
            cursor: pointer;
            box-sizing: 100px;
            border-bottom: 2px solid transparent;
            a{
                position: relative;
                color: $accent-color-dark;
                font-size: 20px;
                text-decoration: none;
             }
             a:hover{
                color: $primary-color-2;
            }
            }
        }
    }
    .toggle:checked + .polaroid-wrapper + .menu{
        opacity: 1;
        width: 100%;
        
    }
}

/*home icon code*/
.home-icon{
    max-width: 50%;
    img{
        width: 40%;
        position: relative;
        left: 15%;
        z-index: 999;
        
    }
}

@media (max-width: 900px){
    #menu-wrapper{
        height: 10vh;
        max-height: 100px;
    }
}
@media (min-width: 1920px){
    
}


