/* code not being used - will remove once checked over next items*/


#menu-toggle{
    display: block;
    position: relative;
    left: 38%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    a{
        text-decoration: none;
        transition: color 0.3s ease;
        :hover{
            color: tomato;
        }
    }
    input{
        margin: 0%;
        display: block;
        width: 20%;
        height: 90%;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    img{
        display: block;
        width: 15%;
        position: relative;
        top: 10%;
        z-index: 1;
    }
    .nav-list{
        position: absolute;
        max-width: 20%;
        padding: 50px;
        /*need to play around with this for positioning*/
        margin: -100px 0 0 -50px;
        padding-top: 125px;
        background-color:#ffe5ad;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
        .list-container{
            padding: 10px 0;
        }
    }
    input:checked ~ul{
        transform: none;
    }
}
.header{
    flex: 0 1 auto;
    background-color: #fce7e6;
}
nav.nav{
    display: flex;
    width: 100%;
}
.home{
    display: inline-block;
    max-width: 40%;
    img{
        width: 40%;
    }
}
.hamburger-polaroid{
    width: 40%;
    padding-left: 2%;
    position: relative;
    z-index: 1;
}
