/*pages specific header formatting*/
.page-header{
    background-color: $light-color;
    position: relative;
    z-index: 1;
}

/*pages content */
.page-content{
    margin: 0 auto;
    margin-top: 10vh;
    width: 100vw;
    min-height: calc(100% - (var(--header-height) + var(--footer-height)));
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    /*background-color: grey*/
}
.page-title,
.blog-title{
    font-size: clamp(4.31rem, 2.078rem + 11.6vw, 15.47rem);
    letter-spacing: 0.02em; 
}

/* about me*/
.info-me{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}