
/* may not be required - need to look at adding to main so doesn't impact header & footer*/
h2{
    font-size: clamp(1.25rem,0.7rem + 2.75vw, 4rem);
    font-weight: 300px;
}
.page-header{
    background-color: $light-color;
}
.page-content{
    margin: 0 auto;
    margin-top: 10vh;
    width: 100vw;
    min-height: calc(100% - (var(--header-height) + var(--footer-height)));
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    /*background-color: grey*/
}