/*pages content */
.page-title{
    text-align: center;
}

.page-content{  
    margin: 0 auto;
    padding-top: 15%;
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}
/*to push title below header*/
.blog-content{
    margin: 0 auto;
    padding-top: 15%;
}
.page-title,
.blog-title{
    font-size: clamp(3rem, -0.272rem + 16.36vw, 12rem);
    letter-spacing: 0.02em; 
}

/* ABOUT PAGE*/
.info-me{
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* WORK PAGE */
/* resume excerpt with skills and languages*/
.work-section{
    margin: 1vh auto;
    text-align: center;
    width: 80vw;
    max-width: 1000px;
}

/*portfolio article*/
.portfolio{
    margin-top: 2vh;
    text-align: center;
    .portfolio-images{
        width: 90vw;
        max-width: 1200px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        img{
            width: 15vh;
            max-width: 250px;
            border: black 1px solid;
            margin: 10px;
        }
    }
}

/* larger link font-size*/
.link-larger-heading{
    font-size: 3em;
}

/*BLOG PAGE*/
.blog-content{
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;
    z-index: 0;
}

/*CONNECT PAGE*/
.contact-container{
    margin: 0 auto;
    padding-top: 5vh;
    text-align: center;
    box-sizing: border-box;
    .contact-form{
        margin: 0 auto;
        padding-top: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-input{
            margin: 2vw auto;
            width: 50vw;
            min-height: 30px;
            max-width: 100%;
            padding: 1vw;
            display: block;
            border: none;
            background-color: $light-color;
            font-family: "Lekton", sans-serif;
            font-size: 14px;
            border-radius: 3%;
        }
    }
}

@media (min-width: 900px){
   .page-content,
   .blog-content{
       padding-top: 12vh;
   }
   /*change of spacing for connect page - contact form*/
   .contact-container{
        padding-top: 0;
        .contact-form{
            padding-bottom: 100px;
            .text-input{
                margin-top: 0;
            }
            button{
                padding: 0 4%;
                position: relative;
                z-index: 1000;
            }
        }
   }
}