
.index-body-div,
.blog-body-div{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}
ul{
    margin: 0;
    padding: 0;
}
ul.home-nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.home-list-container{
    width: 21.4%;
    height: 0;
}
.home-polaroid-wrapper{
    width: 100%;
    margin: 0 auto;
}

.home-polaroid-outside{
    background-color: white;
    position: absolute;
    border-radius: 3%;
    width: 150px;
    height: 239px;
    left: 0;
    right: 0;
    margin: auto;
}
.home-polaroid-inside{
    background-color: #fce7e6;
    width: 85.57%;
    height: 71.14%;
    margin: 0% auto;
    position: relative;
    top: 8.64%;
    box-shadow: rgba(155, 153, 153, 0.068) 0px 3px 5px, rgba(201, 201, 206, 0.25) 0px 30px 60px -12px inset, rgba(248, 116, 116, 0.253) 0px 18px 36px -18px inset;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.home-nav-name{ 
    position: absolute;
    max-width: 360px;
    margin: 22% 0% 0% 10%;
    font-size: clamp(1.125rem, 0.8364rem + 1.443vw, 2.568rem);
}
a, a:visited, a:active{
    color: $accent-color-dark;
}

/*home-index polaroid formatting under 700px*/
.home-about-polaroid{
    z-index: 4;
    top: 22.5%;
    transform: rotate(10deg);
    box-shadow: rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}
.home-work-polaroid{
    z-index: 3;
    top: 32.5%; 
    transform: rotate(-5deg);
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}
.home-blog-polaroid{
    z-index: 2;
    top: 42.5%;
    transform: rotate(8deg);
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}
.home-connect-polaroid{
    z-index: 1;
    top: 52.5%;
    transform: rotate(2deg);
    box-shadow: rgba(206, 207, 207, 0.226) 0px 1px 2px 0px, rgba(108, 109, 110, 0.15) 0px 2px 6px 2px;
}

/* blog polaroid formatting under 700px*/
.blog-1-polaroid{
    z-index: 5;
    top: 22.5%;
    transform: rotate(10deg);
    box-shadow: rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}

.blog-2-polaroid{
    z-index: 4;
    top: 52.5%; 
    transform: rotate(-5deg);
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}

.blog-3-polaroid{
    z-index: 3;
    top: 82.5%;
    transform: rotate(8deg);
    box-shadow:rgba(189, 192, 194, 0.3) 0px 1px 2px 0px, rgba(164, 165, 167, 0.15) 0px 2px 6px 2px;
}

.blog-4-polaroid{
    z-index: 2;
    top: 112.5%;
    transform: rotate(2deg);
    box-shadow: rgba(206, 207, 207, 0.226) 0px 1px 2px 0px, rgba(108, 109, 110, 0.15) 0px 2px 6px 2px;
}

.blog-5-polaroid{
    z-index: 1;
    top: 142.5%;
    transform: rotate(-5deg);
    box-shadow: rgba(206, 207, 207, 0.226) 0px 1px 2px 0px, rgba(108, 109, 110, 0.15) 0px 2px 6px 2px;
}


@media (min-width: 700px){
    .home-polaroid-outside{
        width: 100%;
        height: 100%;
        max-width: 252.516px; 
        max-height: 401.484px;
    }
    .home-polaroid-wrapper{
        /*width: 100%;*/
        padding-bottom: 159%; 
        position: relative; 
        /*margin: 0 auto;*/
    }
    .blog-polaroid-inside{
         img{
            width: 100%;
        }
    }
    /*index page - title*/
    main.kim-title{
        margin: 0 auto;
    }
    /*blog post specific*/
    /* individual blog specific media queries - reduces top position movement & adds rotation to blog 1, 2, 3*/
    .blog-1-polaroid{
        z-index: 5;
        top: 12.5%;
        transform: rotate(-20deg);
    }
    
    .blog-2-polaroid{
        z-index: 4;
        top: 20.5%; 
        transform: rotate(-5deg);
    }
    
    .blog-3-polaroid{
        z-index: 3;
        top: 45%;
        transform: rotate(10deg);
    }
    /* also aligns polaroid 4 & 5 to center*/
    .blog-4-polaroid{
        z-index: 2;
        top: 90%;
        left: 125%;
    }
    .blog-5-polaroid{
        z-index: 1;
        top: 115%;
        left: 225%
    }

}
@media (min-width: 1200px){
    .home-nav {
        position: relative;
        top: -130px;
        max-width: 1000px;
        margin: 0 auto;
    }
}


/*.home-polaroid-outside{
        width: 252.516px;
        height: 401.484px;
    }
}*/