
.work-section{
    margin: 1vh auto;
    /*justify-content: center;*/
    text-align: center;
    width: 80vw;
    max-width: 1000px;
    
}
/*portfolio section*/
.portfolio{
    margin-top: 2vh;
    text-align: center;
}
/* portfolio images*/
.portfolio-images{
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
    img{
        width: 15vh;
        max-width: 250px;
        border: black 1px solid ;
        margin: 10px;
    }
}